{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'core/core.css' %}" />

<!-- Categories Bar -->
<div class="categories-bar text-center mb-4">
  <div class="container">
    <a
      href="?category=all"
      class="category-link {% if selected_category == 'all' or not selected_category %}active{% endif %}"
      >All</a
    >
    {% for category in categories %}
    <a
      href="?category={{ category.slug }}"
      class="category-link {% if selected_category == category.slug %}active{% endif %}"
    >
      {{ category.name }}
    </a>
    {% endfor %}
  </div>
</div>

<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <h1>"Fashion That Speaks You" <br />E-Commerce Brand</h1>
    <p>Luxury in Every Stitch.</p>
    <a
      href="{% url 'products' %}"
      class="btn btn-shop mt-3 px-4 py-2 text-white"
    >
      Shop Now
    </a>
  </div>
</section>

<!-- Featured Products -->
<section class="featured-products py-5">
  <div class="container">
    <h2 class="text-center mb-4" style="color: var(--purple)">
      Featured Products
    </h2>
    <div class="row g-4 justify-content-center">
      {% for product in featured_products %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a
          href="{% url 'product_detail' product.pk %}"
          class="text-decoration-none text-dark"
        >
          <div class="card text-center">
            <img
              src="{{ product.main_image.url }}"
              class="card-img-top"
              alt="{{ product.name }}"
            />
            <div class="card-body">
              <h5 class="card-title bg-pink-black-text">{{ product.name }}</h5>

              <p class="card-text">Ksh {{ product.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- New Arrivals -->
<section class="new-arrivals py-5">
  <div class="container">
    <h2 class="text-center mb-4" style="color: var(--purple)">New Arrivals</h2>
    <div class="product-scroll-wrapper">
      <div class="row flex-nowrap g-4 scroll-container">
        {% for product in new_arrivals %}
        <div class="scroll-item">
          <a
            href="{% url 'product_detail' product.pk %}"
            class="text-decoration-none text-dark"
          >
            <div class="card text-center">
              <img
                src="{{ product.main_image.url }}"
                class="card-img-top"
                alt="{{ product.name }}"
              />
              <div class="card-body">
                <h5 class="card-title bg-pink-black-text">
                  {{ product.name }}
                </h5>

                <p class="card-text">Ksh {{ product.price }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
